body {
    background-color: rgb(10, 236, 236);
}

h1 {
    background-color: rgb(128, 11, 238);
    color: gold;
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h3 {
    color: honeydew;
    font-family: "Souce Code Pro", Menlo, Monaco, fixed-width;
}

p {
    font-family: Open Sans;
    background-color: white;
    color: black;
}

.second_article {
    background-color: indianred;
}

blockquote {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 40px;
    margin-right: 40px;
}

ul {
    font-size: 25px;
}

li {
    margin-top: 1em;
    padding: 5px;
    margin-bottom: 1em;
}

img {
    border-radius: 250px;
    width: 500px;
    height: auto;
    margin-left: 40px;
    border-color: indigo;
    border-width: 5px;
    border-style: solid;
}